// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #37b1ea !default;
$header-bg-color: #143143 !default;
$header-bg-color-secondary: #143143 !default;

// Text
$section-headings-color: #37b1ea !default;
$body-text-color: #37b1ea !default;
$body-link-color: #1e6bb8 !default;
$blockquote-text-color: #287ba4 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;

//Mint Text
$mint-bg-color: #078e6f !default;
$mint-color-secondary: #3d1978 !default;